html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
}

button{
    display: block;
    position: absolute;
}

.content_button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.content_para{
    width: 50%;
    text-align: center;
}

.fa-heart{
    font-size: 100px;
    margin-bottom: 30px;
}

.rotated180 { 
    animation: changeBgColor 0.7s linear infinite;
}

.rotateApple{
    animation: 2s linear 1s infinite alternate rotateContent;
}

@keyframes changeBgColor {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes rotateContent {
    0%{
        transform: rotateY(0deg);
        transform: scale(5);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: scale(5);
        transform: rotateY(0deg);
    }
}